<h2>会員情報編集</h2>
  <%= form_with model: @customer, url: public_customer_path(@customer.id), method: :patch do |f| %>
    <table>
      <thead>
        <tr>
          <th><%= f.label :氏名 %></th>
          <td><%= f.text_field :last_name %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <th><%= f.label :フリガナ %></th>
          <td><%= f.text_field :last_name_kana %></td>
          <td><%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <th><%= f.label :郵便番号 %></th>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <th><%= f.label :住所 %></th>
          <td><%= f.text_field :address, :size=>"50" %></td>
        </tr>
        <tr>
          <th><%= f.label :電話番号 %></th>
          <td><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <td><%= f.email_field :email %></td>
        </tr>
      </tbody>
    </table>

  <% end %>

<%= link_to '編集内容を保存', public_customer_path, class: "btn btn-success" %>
<%= link_to '退会する', destroy_customer_session_path, class: "btn btn-danger" %>