<h2>商品新規登録</h2>
  <%= form_with model: @item, url: '/admin/items', method: :get do |f| %>

    <h4>商品画像
      <%= f.file_field :image, accept: "image/*" %>
    </h4>
    <h4>商品名
      <%= f.text_field :name, placeholder: "商品名" %>
    </h4>
    <h4>商品説明
      <%= f.text_field :introduction, :size=>"50", placeholder: "ここに説明文を記述します" %>
    </h4>
    <h4>ジャンル</h4>
      <li class="nav-item dropdown">
        <ul class="dropdown-menu">
          <% form_for [@production], url: genres_path do |f| %>
            <% @genre_id.each do |genre| %>
              <li><a class="dropdown-item" href="#"><%= genre.name %></a></li>
            <% end %>
          <% end %>
        </ul>
    <h4>税別価格</h4>
    <h4>販売ステータス</h4>
    <%= f.submit '新規登録' %>
  <% end %>
