<h2>注文情報入力</h2>
<%= form_with model: @order, url: public_orders_path, method: :post do |f| %>

  <h3>支払方法</h3>
    <%= f.radio_button :orders, '0' %>
    <%= f.label :orders, 'クレジットカード', value: 0 %><br>
    <%= f.radio_button :orders, '1' %>
    <%= f.label :orders, '銀行振込', value: 1 %>

  <h3>お届け先</h3>
    <%= f.radio_button :orders, "ご自身の住所" %>
    <%= current_customer.address %>

    <%= f.radio_button :orders, "登録済住所から選択" %>
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>

    <%= f.radio_button :orders, "新しいお届け先" %>
    <table>
      <tr>
        <th><%= f.label :orders, "郵便番号(ハイフンなし)" %></th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th><%= f.label :orders, "住所" %></th>
        <td><%= f.text_field :address, :size=>"50" %></td>
      </tr>
      <tr>
        <th><%= f.label :orders, "宛名" %></th>
        <td><%= f.text_field :name %></td>
      </tr>
    </table>
    <%= f.submit '確認画面へ進む' %>
<% end %>