<div class="container">
  <h2>商品一覧(全<%= @items.count %>件)</h2>
    <% @items.each do |item| %>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <%= link_to public_item_path(item.id) do %>
              <% if item.image.attached? %>
                <%= image_tag item.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'no_image', size: "200x200" %>
              <% end %>
            <% end %>
            <div class="card-body">
              <h6 class="card-title"><%= item.name %></h6>
              <p class="card-text">¥<%= (item.price*1.1).floor.to_s(:delimited, delimiter: ',') %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<%= paginate @items %>