<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>ながのCake</title>
  </head>

  <body>
    <header class="border border-dark">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex align-items-end flex-column bd-highlight mb-3" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto bd-highlight">
            <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", public_customer_path(current_customer), class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", public_items_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "カート", public_cart_items_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary" %>
            </li>
            <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "About", public_homes_about_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", public_items_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary" %>
            </li>
            <% end %>
            </ul>
            <form class="d-flex bd-highlight">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
  </body>
</html>
